{% extends 'layout.html' %}
{% block inside_row %}
<div>
	<div><a class="btn btn-primary" href="{{ url_for('home.add') }}">新增任务</a></div>
	<table class="table">
		<thead>
			<tr>
				<th>任务名</th>
				<th>执行计划</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				<tr>
					<td><a href="{{ url_for('home.edit', id=task.id) }}">{{ task.name }}</a></td>
					<td>{{ task.corn }}</td>
					<td>
						{{task.created|dateformat("%Y-%m-%d %H:%M")}}
					</td>
					<td>
						<a class="btn btn-default" href="{{ url_for('home.run', id=task.id) }}">立即执行</a>
						<a class="btn btn-default" href="{{ url_for('home.edit', id=task.id) }}">修改</a>
						<a class="btn btn-default" href="{{ url_for('home.logs', id=task.id) }}">查看日志</a>
						<a class="btn btn-default" href="{{ url_for('home.delete', id=task.id) }}">删除</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
